<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sparcedge.ws_monitor</string>
    <key>ProgramArguments</key>
    <array>
    	<string>python2.5</string>
        <string>/Users/bob/workspace/osx-usage-stats/collectors/ws_monitor.py</string>
    </array>
    <key>StartInterval</key>
    <integer>10</integer>
    <key>KeepAlive</key>
	<dict>
    	<key>SuccessfulExit</key>
    	<false/>
	</dict>
    <key>StandardOutPath</key>
    <string>/Users/bob/workspace/osx-usage-stats/logs/ws_monitor.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/bob/workspace/osx-usage-stats/logs/ws_monitor.err</string>
</dict>
</plist>