/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	padding:	10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

.panel.mylinks {height: 205px;}

.banner {height: 261px; width: 100%;}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


